header {
    margin-bottom: 24px;
}
.header-row {
    width: 100%;
    display: flex;
    padding: 12px 0;
    align-items: center;
    .header__logo-container{
        display: flex;
        justify-content: space-between;
        margin-right: 24px;
        .header__logo {
            display: flex;
            align-items: center;
            padding: 14.5px 24px;
            .header__logo-link {
                width: 18px;
                height: 18px;
                .header__logo-img {
                    width: 18px;
                    height: 18px;
                }
            }
            .header__logo-name {
                font-size: 16px;
                margin-left: 8px;
                text-decoration: none;
                color: black;
            }
        }
        .catalog-btn {
            padding: 15.5px 24px;
            border: solid;
            border-radius: 8px;
            border-color: #73AFF4;
            border-width: 1px;
            background-color: white;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 500;
        }
        .catalog-btn:hover {
            background-color: #73AFF4;
        }
    }
    #search-form {
        display: flex;
        flex: 2;
        .search__container {
            display: flex;
            width: 100%;
            align-items: center;
            border: solid #73AFF4 ;
            border-radius: 10px;
            border-width: 1px;
            padding: 12px 16px;
            margin-right: 4px;
            .search__img {
                width: 17.5px;
                height: 17.5px;
                margin: 3px;
            }
            .search__input {
                margin-left: 8px;
                border: none;
                font-family: 'Inter';
                font-size: 16px;
                outline: none;
            }
        }
        .search__container:focus-within {
            border: 1px solid $--color-brand;
        }
    }
    .nav-container{
        margin-left: auto;
        .nav {
            padding-left: 0;
            display: flex;
            list-style: none;
            align-items: center;
            .nav__item {
                margin-left: 20px;
                a {
                    text-decoration: none;
                    color: #393939;
                    font-size: 14px;
                }
                a:hover {
                    color: #73AFF4;
                }
            }
        }
    }
}

.search__back-mobile-btn {
    display: none;
}
.search__find-mobile-btn {
    display: none;
}
.search__reset-mobile-btn {
    opacity: 0;
}
.search__mobile-line {
    display: none;
}


@media (max-width:1440px) {
    .header-row {
        padding-left: 28px;
        padding-right: 28px;
    }
 }
 @media (max-width:992px) {
    .header-row {
        padding-left: 0px;
        padding-right: 0px;
        flex-wrap: wrap;
        justify-content: center;
        #search-form {
            flex: none;
            margin-bottom: 24px;
            margin-top: 24px;
            .search__container {
                width: 293px;
            }
        }
        .nav-container {
            margin-left: 0;
        }
    }

}

@media (max-width:425px) {
    .header-row {
        padding: 0;
        .header__logo-container{
            display: none;
        }
        .nav-container{
            display: none;
        }
        #search-form {
            display: flex;
            flex-direction: column;
            padding: 8px 16px 0px 16px;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            .search__container {
                border: none;
                padding: 0;
                width: 100%;
                justify-content: space-between;
                padding-bottom: 7px;
                .search__img {
                    display: none;
                }
                .search__back-mobile-btn {
                    display: block;
                    background: url("/assets/img/backarrow.svg");
                    border: none;
                    width: 20px;
                    height: 20px;
                }

                input::placeholder {
                    opacity: 0;
                    width: 0;
                }
                .search__input {
                    width: 58%;
                }
                .search__reset-mobile-btn {
                    background: url("/assets/img/cleanbtn.svg");
                    border: none;
                    width: 17px;
                    height: 17px;
                }
                .search__find-mobile-btn {
                    display: block;
                    border: none;
                    padding: 12px 16px;
                    border-radius: 5px;
                    background-color: $--color-brand;
                    color: white;
                    font-size: 16px;
                    margin-left: 16px;
                }
            }
            .search__mobile-line {
                display: block;
                height: 1px;
                border-bottom: 1px solid $--color-font-second;
                padding-left: 36px;
                width: 89%;
                margin-left: auto;
            }
        }
        #search-form:focus-within {
            .search__container{
                border: none;
            }
            .search__mobile-line {
                border-bottom: 1px solid $--color-brand;
            }
        }
        .search__input:valid ~ button[type="reset"] {
            opacity: 0.4;
        }
    }
}